@page
@model PE_Web.Pages.PermissionModel
@{
    ViewData["Title"] = "Permission";
}

<h2 style="color:red; text-align:center">You do not have permission to do this function!</h2>
<br />
<br />
<p>Return login to login adminstrate account <a href="/Login"></a></p>
